<h1>My Portfolio</h1>

<% if @stocks.any? %>
  <ul>
    <% @stocks.each do |stock| %>
      <li>
        <%= stock.name %> - <%= number_to_currency(stock.price) %>
        <%= button_to 'Sell from Portfolio', sell_portfolio_path(stock), method: :patch, class: 'btn btn-danger' %>
        <%= form_with url: buy_portfolio_path(stock), method: :post do %>
          <%= number_field_tag :quantity, 1, min: 1 %>
          <%= submit_tag 'Buy More', class: 'btn btn-success' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no stocks in your portfolio.</p>
<% end %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>
