<h1>Available Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.price %></td>
        <td>
          
          <%= form_with url: add_to_portfolio_stock_path(stock), method: :post, local: true do |form| %>
            <%= form.submit 'Add to Portfolio', class: 'btn btn-primary' %>
          <% end %>

         
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'My Portfolio', portfolios_path, class: 'btn btn-info' %>
